**PRE-ANALYSIS**

First of all, we will start exploring our dataset in order to familiarize with the different rows and columns. After this analysis, we will be able to notice whether it is needed or not to clean and transform the available data. Moreover, we will come up with interesting questions that me be answered after analysing it deeply.

In [ ]:
#Libraries importation

import pandas as pd #data transformation and manipulation.
pd.set_option("display.max_columns", None) #to display all columns of the dataframe.
import numpy as np #to work with python numbers
import seaborn as sns #visualizations
import matplotlib.pyplot as plt #visualizations

C:\Users\juanj\AppData\Local\Temp\ipykernel_31480\1397168680.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd #data transformation and manipulation

In [29]:
#Connection to our dataset, which consists on 3 files in txt format. Each file contains one unique table.

df = pd.read_csv("../1_Data/Data_Raw/exclusivity_raw.txt", delimiter="~")
df.head()

  Appl_Type  Appl_No  Product_No Exclusivity_Code Exclusivity_Date
0         N    17031           1              RTO     Jul 13, 2026
1         N    18680           1            D-193     Jun 28, 2027
2         N    20263           9               NS     Apr 14, 2026
3         N    20825           1            M-232     Jan 28, 2025
4         N    20825           2            M-232     Jan 28, 2025

In [30]:
df.tail()

     Appl_Type  Appl_No  Product_No Exclusivity_Code Exclusivity_Date
2411         N   215888           1             GAIN     Apr 26, 2032
2412         N   218275           1             GAIN      Apr 3, 2034
2413         N   213004           1             GAIN      Nov 1, 2027
2414         N   213972           1             GAIN     Oct 25, 2034
2415         N   217417           1             GAIN     Mar 22, 2033

In [31]:
#Lets retrieve more information about this txt file we have just charged (only exclusivities).

print(f"The file has {df.shape[0]} rows and {df.shape[1]} columns")
df.info()

The file has 2416 rows and 5 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416 entries, 0 to 2415
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Appl_Type         2416 non-null   object
 1   Appl_No           2416 non-null   int64
 2   Product_No        2416 non-null   int64
 3   Exclusivity_Code  2416 non-null   object
 4   Exclusivity_Date  2416 non-null   object
dtypes: int64(2), object(3)
memory usage: 94.5+ KB